{% extends 'main.html' %}
{% block content %}

<h1>Projects</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Projects</th>
        <th>Ratio</th>
        <th>Votes</th>
        <th>Date</th>
        <th>View</th>
        {% for project in projects %}
        <tr>
            <td>{{project.id}}</td>
            <td>{{project.title}}</td>
            <td>{{project.vote_ratio}}%</td>
            <td>{{project.vote_total}}</td>
            <td>{{project.created_at}}</td>
            <td><a href="{% url 'projects' project.id %}">View</a> </td>
        </tr>
        {% endfor %}
    </tr>
</table>

{% endblock content %}